<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
</head>
<body>
<div class="wrapper center-container col-12 col-sm-6">
  <div class="row mb-3">
  <div class="title">Welcome to   </div>
  <div style="text-align: center" >
    <img src="assets/imag/AQRAB.jpg" alt="AQRAB Logo" class=" logo " >
  </div>
  </div>
  <form [formGroup]="loginForm" (ngSubmit)="onFormSubmit()">
    <div class="row mb-3">
      <div class="col-sm-12 form-group required">
        <label for="email"  class="col-sm-2 col-form-label">Email</label>
        <div class="col-sm-10 field">
          <input type="text" formControlName="email" id="email"
                 class="form-control" [ngClass]="{ 'is-invalid': submitted && hasError('email', 'required') }" placeholder="Enter email here"/>
          <div *ngIf="submitted && hasError('email', 'required')"  class="error-messages">
            <div  class="col-sm-10 ">Email is required</div>
          </div>
          <div *ngIf="submitted && hasError('email', 'email')"  class="error-messages ">
            <div  class="col-sm-10" >Enter valid email address</div>
          </div>
        </div>
      </div>
    </div>
    <div class="row mb-3" >
      <div class="col-sm-12 form-group required">
        <label for="password" class="col-sm-2 col-form-label"> Password</label>
        <div class=" col-sm-10 field">
          <input type="password" formControlName="password" id="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && hasError('password', 'required') }" placeholder="Enter password here" />
          <div  *ngIf="submitted && hasError('password', 'required')" class="error-messages" >
            <div  class="col-sm-10 ">Password is required</div>

          </div>
        </div>
      </div>
    </div>
    <div class=" col-sm-10 field"   >
      <input type="submit" value="Login">
      <button [disabled]="loading" type="submit"></button>
    </div>
    <div *ngIf="error" class="text-left text-danger n-top-xs  error-messages">
      {{error}}
    </div>
    <div class="row mb-3 action">
      <div class="signup-link sticky-bottom text-bold">
        Not a member? <a routerLink="/register" class="btn btn-link ">Register</a>
      </div>
    </div>
  </form>
</div>
</body>
</html>


