@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

.error-messages{
  color: #f74c4c;
  font-size: 80%;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
html,body{
  display: grid;
  height: 100%;
  width: 100%;
  place-items: center;
  background: #ffffff;
  /* background: linear-gradient(-135deg, #c850c0, #4158d0); */
}
body{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffffff;
}

@media only screen and (max-device-width:600px) and (-webkit-min-device-pixel-ratio: 2) {
  .wrapper {

    width: 95%;
    background: #fff;
    padding: 3%;
    border-radius:5%;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);


  }
}
@media screen and (min-width: 1200px) {
  .wrapper{

    width: 95%;
    background: #fff;
    padding: 3%;
    border-radius:5%;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  }
}
::selection{
  background: #4158d0;
  color: #fff;
}

.wrapper .title{
  font-size: 150%;
  font-weight: bold;
  text-align: center;
  line-height: 230%;
  color: #fff;
  user-select: none;
  border-radius: 15px 15px ;
  background: linear-gradient(-135deg, #af74de, #4158d0);
}

.wrapper form{
  margin-top:3%;
}
.wrapper form .input-box{
  height: 2%;
  margin: 2% 3%;

}
form .input-box button {
  color: white;
}
form .input-box input{
  height: 100%;
  width: 100%;
  outline: none;
  padding: 2%;
  font-size: 100% ;
  border: 1.5px solid #C7BEBE;
  border-bottom-width: 2.5px;
  border-radius: 6px;
  transition: all 0.3s ease;
}



.field {
  position: relative;
  padding: 0.5% 3%;
  height:10% !important;
  border: 1px solid transparent;
  border-right: 4px;
  cursor: text;
  margin-left: 2%;
}
.row {
  margin: auto;
}
.wrapper form .field input{
  height: 100%;
  width: 100%;
  outline: none;
  font-size:100%;
  padding-left: 20%;
  border: 1px solid lightgrey;
  border-radius: 25px;
  transition: all 0.3s ease;
}
.wrapper form .field input:focus,
form .field input:valid{
  border-color: #4158d0;
}


.wrapper form .field label{
  margin-top: auto;
  color: #999999;
  font-weight: 400;
  font-size: 100%;
  pointer-events: none;
  transform: translateY(-50%);
  transition: all 0.3s ease;
}
form .field input:focus ~ label,
form .field input:valid ~ label{
  top: 0%;
  font-size:100%;
  color: #4158d0;
  background: #fff;
  transform: translateY(-50%);
}
form .content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: #ffffff;
  margin-left:3%;
  margin-bottom: 2%;
}


form .content label{
  color: #262626;
  user-select: none;
  padding-left: 5px;
}
form .content .pass-link{
  color: "";
}
form .field input[type="submit"]{
  color: #fff;
  border: none;
  padding-left: 0;
  margin-top: -10px;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  background: linear-gradient(-135deg, #c850c0, #4158d0);
  transition: all 0.3s ease;
}
form .field input[type="submit"]:active{
  transform: scale(0.95);
}
form .signup-link{
  color: #262626;
  margin-top: 20px;
  text-align: center;
}
form .pass-link a,
form .signup-link a{
  color: #4158d0;
  text-decoration: none;
}
form .pass-link a:hover,
form .signup-link a:hover{
  text-decoration: underline;
}

.wrapper .info{
  font-size: 35px;
  font-weight: 600;
  text-align: center;
  line-height: 100px;
  color: #fff;
  user-select: none;
  border-radius: 15px 15px 0 0;
  background: linear-gradient(-135deg, #af74de, #4158d0);
}
.wrapper .btn{
  color: #fff;
  border: none;
  padding-left: 0;
  margin-top: -10px;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  background: linear-gradient(-135deg, #c850c0, #4158d0);
  transition: all 0.3s ease;
}
.wrapper .title1{
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  line-height: 100px;
  color: #fff;
  user-select: none;
  border-radius: 15px 15px 15px 15px;
  background: linear-gradient(-135deg, #af74de, #4158d0);
}
.footerContainer {
 }
.footerNav{
  margin: 30px 0;
}
.footerNav{
  margin: 6px 0;
}
.footerNav ul{
  display: flex;
  justify-content: center;
  list-style-type: none;
}
.footerNav a{
  margin: 10px;
}
th{
  text-align: center;

}
.footerNav ul li {
  margin: 3%;
  text-decoration: none;
  font-size: 1.3em;
  transition: 0.5s;
}
.table-transactions {
  width: 100%;
  border-collapse: collapse;
  margin-top: 5%;
}

.table-transactions th, .table-transactions td {
  border: 1px solid #ddd;
  padding: 5px;
  text-align: left;
}

.table-transactions th {
  background-color: #f2f2f2;
}
