<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="utf-8">
</head>
<body *ngIf="loggedInUser.typeUser=='admin'">
<div class="wrapper center-container col-12 col-sm-6">
  <div class="title sticky-top">AQRAB Dashboard </div>
  <form>
    <div >
      <table class="table table-responsive-sm table-striped table-hover table-transactions">
        <thead>
        <tr>
          <th  scope="col"  >Sellers</th>
          <th  scope="col"  >Number custumers</th>
          <th  scope="col" >Number transaction</th>
          <th  scope="col" >Total  Paid debt </th>
          <th  scope="col">Total  Unpaid debt </th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let seller of sellersList | paginate:{
          itemsPerPage: tableSize,
          currentPage: page,
          totalItems: count}; let i = index">
          <td>{{seller.firstName}} <br> {{seller.lastName}}</td>
          <td>{{seller.numberOfCustomers}}</td>
          <td>{{ seller.totalTransactions}}</td>
          <td>{{seller.debtTotalAmountPayed}}</td>
          <td>{{seller.debtTotalAmount}}    </td>

        </tr>
        </tbody>
      </table>
      <div style="margin-left: 20% ; margin-top: 12%">
        <pagination-controls previousLabel="Prev" nextLabel="Next"
          (pageChange)="onTableDataChange($event)">
        </pagination-controls>
      </div>
    </div>

  </form>
  <div class="footerContainer sticky-bottom">
    <div class="footerNav sticky-bottom" *ngIf="loggedInUser.typeUser=='admin'">
      <ul>
        <li><a style="color: #4158d0" href="admin">Home</a></li>
        <li><a style="color: #000000" href="profilUser">Profil</a></li>
      </ul>
    </div>
  </div>
</div>
