<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="utf-8">
</head>
<body>
<div class="wrapper center-container col-12 col-sm-6 " >
  <div class="title">Hello {{ loggedInUser.firstName }}</div>
  <div class="row" style="margin-bottom:90%">
    <div class="col-sm-12 ">
      <h2 style="margin-top: 3%;  text-align: center"> enter an Amount (MAD) أدخل المبلغ (درهم) </h2>
      <div class="input-box" style="text-align: center" >
        <input type="number" [(ngModel)]="myQrCodeValue">
      </div>

      <div  class="input-box" style="text-align: center" (click)="createQrCode()">
          <input class="btn" type="submit" value="Generate code(إنشاءالرمز)">
        </div>
        <div class="row mb-3">
          <div class="col-sm-12 " style="text-align: center" *ngIf="qrCodeValue">
            <qrcode [qrdata]="qrCodeValue" [width]="100" [errorCorrectionLevel]="'M'"></qrcode>
          </div>
        </div>
        <div *ngIf="error"  class="error-messages text-danger">
          {{error}}
        </div>


    </div>
  </div  >
  <div class="footerContainer">
    <div class="footerNav sticky-bottom"*ngIf="loggedInUser.typeUser=='seller'">
      <ul>
        <li><a style="color: #4158d0" href="sellerHome">Home</a></li>
        <li><a style="color: #000000" href="customersList">Customers</a></li>
        <li><a style="color: #000000" href="sellerActions">Actions</a></li>
        <li><a style="color: #000000" href="profilUser">Profil</a></li>
      </ul>
    </div>
  </div>

</div>
</body>
</html>

